.endpage {
  width: 100%;
  height: 970px;
  min-width: 1600px;
  background-image: url('../images/ending/aragorn.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  border: 8px solid black;
  border-image: url('../images/border.png') 10% fill;
  display: none;
  align-items: center;
  justify-content: center;
}

.endpage p {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 5rem;
  color: darkgoldenrod;
  background-color: rgba(0, 0, 0, 0.5);
}
