@font-face {
  font-family: 'Ringbearer Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Ringbearer Medium'), url('RINGM___.woff') format('woff');
}

body {
  font-family: 'Ringbearer Medium',sans-serif;
}
