.game-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-width: 1700px;
  display: flex;
  align-content: space-around;
  border: 8px solid black;
  border-image: url("../images/border.png") 10% fill;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, black 0%, black 74%);

  .left-container {
    width: 20%;
    margin: 5px 5px;
    height: inherit;
    //background: rgba(255,255,255, 0.1);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    color: darkgoldenrod;

    .timer {
      display: flex;
      align-items: center;
      h2 {
        margin-top: 10px;
        font-size: 36px;
      }
      img{
        width: 25%;
      }
    }

    .border {
      height: 2px;
      width: 100%;
      border: 1px solid darkgoldenrod;
    }

    img {
      margin-left: 5px;
      margin-top: 5px;
      width: 95%;
    }

    .stats {
      margin: 10px;
      align-self: flex-start;
    }
  }

  .right-container {
    width: 20%;
    height: inherit;
  }

  .board-container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
            "field-21 field-22 field-23 field-24 field-25 field-26 field-27 field-28 field-29 field-30 field-31"
            "field-20 board board board board board board board board board field-32"
            "field-19 board board board board board board board board board field-33"
            "field-18 board board board board board board board board board field-34"
            "field-17 board board board board board board board board board field-35"
            "field-16 board board board board board board board board board field-36"
            "field-15 board board board board board board board board board field-37"
            "field-14 board board board board board board board board board field-38"
            "field-13 board board board board board board board board board field-39"
            "field-12 board board board board board board board board board field-40"
            "field-11 field-10 field-9 field-8 field-7 field-6 field-5 field-4 field-3 field-2 field-1";
    height: inherit;


    .main-board {
      position: relative;
      grid-area: board;
      border: 1px solid black;
      background:  url("../images/middle.jpg") no-repeat;
      background-size: cover;
      padding: 30px;

      .controls {
        display: flex;


      .controls-main {
        background-color: rgba(0,0,0,0.5);
        display: flex;
        height: 50%;
        width: 50%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        margin-right: 10px;

        .dice {
          margin-top: 10px;
        }
        .btn {
          margin-top: 10px;
          color: black;
          width: 100%;
          background-color: darkgoldenrod;
          margin-bottom: 20px;
        }
      }
      }

      .controls-additional {
        background-color: lightcoral;
      }

      .message-container {
        color: white;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 0.15rem;
        background-color: rgba(0,0,0,0.8);
        height: 40%;
        margin-top: 10px;
        overflow-y: hidden;
        overflow-x: hidden;
      }

    }

    .field-1 {
      grid-area: field-1;
      background: url("/images/cards/0.png") no-repeat;
      background-size: cover;
    }
    .field-2 {
      grid-area: field-2;
    }
    .field-3 {
      grid-area: field-3;
    }
    .field-4 {
      grid-area: field-4;
    }
    .field-5 {
      grid-area: field-5;
    }
    .field-6 {
      grid-area: field-6;
    }
    .field-7 {
      grid-area: field-7;
    }
    .field-8 {
      grid-area: field-8;
    }
    .field-9 {
      grid-area: field-9;
    }
    .field-10 {
      grid-area: field-10;
    }
    .field-11 {
      grid-area: field-11;
      background: url("/images/cards/10.png") no-repeat;
      background-size: cover;
    }
    .field-12 {
      grid-area: field-12;
    }
    .field-13 {
      grid-area: field-13;
    }
    .field-14 {
      grid-area: field-14;
    }
    .field-15 {
      grid-area: field-15;
    }
    .field-16 {
      grid-area: field-16;
    }
    .field-17 {
      grid-area: field-17;
    }
    .field-18 {
      grid-area: field-18;
    }
    .field-19 {
      grid-area: field-19;
    }
    .field-20 {
      grid-area: field-20;
    }
    .field-21 {
      grid-area: field-21;
      background: url("/images/cards/30.png") no-repeat;
      background-size: cover;
    }
    .field-22 {
      grid-area: field-22;
    }
    .field-23 {
      grid-area: field-23;
    }
    .field-24 {
      grid-area: field-24;
    }
    .field-25 {
      grid-area: field-25;
    }
    .field-26 {
      grid-area: field-26;
    }
    .field-27 {
      grid-area: field-27;
    }
    .field-28 {
      grid-area: field-28;
    }
    .field-29 {
      grid-area: field-29;
    }
    .field-30 {
      grid-area: field-30;
    }
    .field-31 {
      grid-area: field-31;
      background: url("/images/cards/30.png") no-repeat;
      background-size: cover;
    }
    .field-32 {
      grid-area: field-32;
    }
    .field-33 {
      grid-area: field-33;
    }
    .field-34 {
      grid-area: field-34;
    }
    .field-35 {
      grid-area: field-35;
    }
    .field-36 {
      grid-area: field-36;
    }
    .field-37 {
      grid-area: field-37;
    }
    .field-38 {
      grid-area: field-38;
    }
    .field-39 {
      grid-area: field-39;
    }
    .field-40 {
      grid-area: field-40;
    }

    .field {
      background-color: blanchedalmond;
      border: 2px solid saddlebrown;
      padding: 5%;
      display: flex;
      flex-direction: column;
      &:hover {
       background-color: rosybrown;
      }

      .green {
        background-color: greenyellow;
      }
      .red {
        background-color: red;
      }
      .black {
        background-color: black;
      }
      .orange {
        background-color: orange;
      }
      .purple {
        background-color: purple;
      }
      .brown {
        background-color: brown;
      }
      .yellow {
        background-color: yellow;
      }
      .blue {
        background-color: deepskyblue;
      }

    }



    .field-col {
      height: 120px;
      .category {
        height: 20%;
      }
      .pawns-container {
        height: 80%;
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        padding-top: 10px;
        margin-top: 2px;

        img {
          width: 50%;
        }
      }
    }

    .field-row {
      flex-direction: row;
      width: 120px;
      img {
        transform: rotate(90deg);
      }

      .category {
        width: 20%;
        h4 {
          transform: rotate(90deg);
        }
      }

      .pawns-container {
        width: 80%;
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        padding-left: 10px;
        margin-top: 2px;

        img {
          width: 50%;
          transform: rotate(90deg);
        }
      }
    }

  }


}
